@import "../utils/font";
@import "../utils/variable";


.auction-detail-pages{
  .product-wrapper{
    .row{
      .table{
        margin-top: 20px;
        .title{
          h5{
            color: var(--Foundation-Neutral-color-G500, #282828);
  
        /* Sub heading 2/Bold */
        font-family: Lato;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0px;
        span{
          color: var(--Foundation-Neutral-color-G100, #919191);
        }
          }
        }

        th{
          background: var(--Foundation-Secondary-color-D50, #E6F6EE);
        }

        .pagination{
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .will-come{
      .wrapper{
        display: grid;
        gap: 5px;

        .price{
          margin-top: 40px !important;
          display: flex;
          gap: 50px;
          align-items: center;
          span{
            
            color: var(--4, #808080);

            /* Paragraf 1/Regular */
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

       
      }
    }
    .offer-section{
      .wrapper{
        display: grid;
        gap: 5px;


       
      }
    }
  }
}

.list-auction-products-pages {
  

  .top {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 22px;

    button {
      font-size: 16px !important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-family: $lato;
      padding: 12px 15px;
      height: 56px;
    }
  }

  .card-auction-wrapper {
    margin-top: 15px;
    gap: 15px;
    display: flex;
    flex-direction: column;

    .item {
      border-radius: 8px;
      border: 1px solid #bfbfbf;
      background-color: white;
      box-shadow: 0px 1px 42px 0px rgba(0, 0, 0, 0.08);
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        width: 119.756px;
        height: 120.546px;
        object-fit: cover;
      }

      .left {
        gap: 25px;
        display: flex;
        align-items: center;
      }

      .text {
        // .title{
        //     margin-bottom: 12px;
        // }

        table {
          tr {
            td {
              padding-top: 12px;
              &:nth-child(2) {
                padding: 0 22px;
              }
            }
          }
        }
      }
    }
  }
}
